header {
    padding: 0.5rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: beige;
    font-weight: bold;
    font-size: 0.95rem;
    letter-spacing: 0.02rem;
}

.menu {
    display: flex;
    align-items: center;
    gap: 5rem
}

