.movies__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 85%;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.movies__content {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
}

.movies__title {
    font-size: 2rem;
    color: rgb(255 255 255 / 0.9);
    letter-spacing: 0.03rem;
}

.sort__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    width: fit-content;
    padding: 1rem 2rem;
    border: 1px solid rgb(255 255 255 / 0.32);
    border-radius: 1rem;
    box-shadow: rgb(184 178 178 / 0.55) 0 0 5px;
}

.trending__container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.trending__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

