.carousel-sm__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
}

.carousel-sm {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
}

.carousel-sm__nav {
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin: 0 auto;
    color: white;
    letter-spacing: 0.02rem;
}

.carousel-sm__nav h2 {
    font-size: 1.7rem;
    opacity: 70%;
}

.carousel-sm__nav  button {
    opacity: 55%;
    font-size: 0.8rem;
}
